/* 
    Author: Riveen;
    Theme: Food Order Website;
    version: 1.0;
*/

/* Global resets and font styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

/* Container for content */
.wrapper {
    
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.clear-fix{
    float: none;
    clear: both;
}
.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}

table tr th{
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    background-color: #00a8ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #0097e6;
}

.btn-secondary{
    background-color: #ED4C67;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #fbc531;
}
.btn-danger{
    background-color: #009432;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #EE5A24;
}
/* CSS for Menu */
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;

}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #205619;
}
.menu ul li a:hover{
    color: #3e8e41;
}

/* css for main-content */
.main-content{
   background-color: #f1f2f6;
   padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
}

/* Css for footer */
.footer{
    background-color: #192a56;
    color: white;
}

